* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
  margin: 2rem 2rem;
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  /* border: 2px solid red; */
  height: 4rem;
  transform: scaleY(1.5);
  background-color: rgb(234, 247, 255);
  border: none;
  border-radius: 5px;
  flex-wrap: wrap;
  transition: all 3s ease;
}
.icon1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  background-color: #bccbdb;
}
.icons {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
  background-color: #48a6e8;
}
.main > div {
  width: 7rem;
  display: flex;
  justify-content: space-evenly;
}
a {
  text-align: center;
  text-decoration: none;
  color: black;

  /* border: 2px solid red; */
}
a:hover {
  border: 2px solid rgba(0, 0, 0, 0.487);
  padding: 5px;
  border-radius: 5px;
}
.main:hover {
  background-color: aqua;
  font-family: Georgia, "Times New Roman", Times, serif;
}
i {
  margin-left: 0.7rem;
}
.fa-twitter:hover {
  transform: scale(2) rotate(20deg);
}
.fa-instagram:hover {
  transform: scale(2) rotate(20deg);
}
.fa-facebook:hover {
  transform: scale(2) rotate(20deg);
}
